on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test work
        uses: ./
        id: test
        with: 
          base-path: './test'
      - name: Commit update lang files
        uses: endbug/add-and-commit@v9
        with:
          add: './test'
          message: 'chore: update lang files'
          default_author: github_actions